In [86]:
import pandas as pd
from matplotlib import pyplot as plt 
import numpy as np
import math
import seaborn as sns
from scipy import stats as st

In [87]:
games_df = pd.read_csv('games.csv')

In [88]:
for column in games_df.columns:
        games_df.rename(columns={column: column.strip()}, inplace=True)

games_df.columns = games_df.columns.str.lower()
games_df.info()
print(games_df.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB
                        name platform  year_of_release         genre  \
0                 Wii Sports      Wii           2006.0        Sports
1          Super Mario Bros.      NES           1985.0      Platform
2             Mario Kart Wii      Wii           2008.0        Racing
3          Wii Sports Resort      Wii           2009.0        Sports
4   Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing
5                     Tetris       GB           1989.0        Puzzle
6      New Super Mario Bros.       DS           2006.0      Platform
7                   Wii Play      Wii           2006.0          Misc
8  New Super Mario Bros. Wii      Wii           2009.0      Platform
9                  Duck Hunt      NES           1984.0       Shooter

   na_sales  eu_sales  jp_sales  other_sales  critic_score user_score rating
0     41.36     28.96      3.77         8.45          76.0          8      E
1     29.08      3.58      6.81         0.77           NaN        NaN    NaN
2     15.68     12.76      3.79         3.29          82.0        8.3      E
3     15.61     10.93      3.28         2.95          80.0          8      E
4     11.27      8.89     10.22         1.00           NaN        NaN    NaN
5     23.20      2.26      4.22         0.58           NaN        NaN    NaN
6     11.28      9.14      6.50         2.88          89.0        8.5      E
7     13.96      9.18      2.93         2.84          58.0        6.6      E
8     14.44      6.94      4.70         2.24          87.0        8.4      E
9     26.93      0.63      0.28         0.47           NaN        NaN    NaN

In [89]:
games_df['name'] = games_df['name'].fillna('unknown')
print(games_df['name'].value_counts())
need_for_speed = games_df[games_df['name'] == 'Need for Speed: Most Wanted']
print(need_for_speed)

name
Need for Speed: Most Wanted                         12
Madden NFL 07                                        9
FIFA 14                                              9
Ratatouille                                          9
LEGO Marvel Super Heroes                             9
                                                    ..
Jewels of the Tropical Lost Island                   1
Sherlock Holmes and the Mystery of Osborne House     1
The King of Fighters '95 (CD)                        1
Megamind: Mega Team Unite                            1
Haitaka no Psychedelica                              1
Name: count, Length: 11560, dtype: int64
                              name platform  year_of_release   genre  \
253    Need for Speed: Most Wanted      PS2           2005.0  Racing
523    Need for Speed: Most Wanted      PS3           2012.0  Racing
1190   Need for Speed: Most Wanted     X360           2012.0  Racing
1591   Need for Speed: Most Wanted     X360           2005.0  Racing
1998   Need for Speed: Most Wanted       XB           2005.0  Racing
2048   Need for Speed: Most Wanted      PSV           2012.0  Racing
3581   Need for Speed: Most Wanted       GC           2005.0  Racing
5972   Need for Speed: Most Wanted       PC           2005.0  Racing
6273   Need for Speed: Most Wanted     WiiU           2013.0  Racing
6410   Need for Speed: Most Wanted       DS           2005.0  Racing
6473   Need for Speed: Most Wanted      GBA           2005.0  Racing
11715  Need for Speed: Most Wanted       PC           2012.0  Racing

       na_sales  eu_sales  jp_sales  other_sales  critic_score user_score  \
253        2.03      1.79      0.08         0.47          82.0        9.1
523        0.71      1.46      0.06         0.58           NaN        NaN
1190       0.62      0.78      0.01         0.15          83.0        8.5
1591       1.00      0.13      0.02         0.10          83.0        8.5
1998       0.53      0.46      0.00         0.05          83.0        8.8
2048       0.33      0.45      0.01         0.22           NaN        NaN
3581       0.43      0.11      0.00         0.02          80.0        9.1
5972       0.02      0.23      0.00         0.04          82.0        8.5
6273       0.13      0.12      0.00         0.02           NaN        NaN
6410       0.24      0.01      0.00         0.02          45.0        6.1
6473       0.19      0.07      0.00         0.00           NaN        8.3
11715      0.00      0.06      0.00         0.02          82.0        8.5

      rating
253        T
523      NaN
1190       T
1591       T
1998       T
2048     NaN
3581       T
5972       T
6273     NaN
6410       E
6473       E
11715      T

- Rellene los pocos valores ausentes con unknown ya que creo, no podemos adquirir mas informacion al respecto.
- Los valores duplicados de la columna name se deben a que son titulos que se publicaron en distintas plataformas en diferentes años.

- La columna platform no tiene ningun problema.

In [90]:
games_df['year_of_release'] = games_df['year_of_release'].fillna(games_df['year_of_release'].mean())
games_df['year_of_release'] = games_df['year_of_release'].astype(int)

- Cambie el tipo de dato a int ya que me parece mas logico que un año sea un entero o un object.
- Escogi rellenar los valores ausentes con la media de la columna ya que considero que esta es la opcion que mas probabilidad de ocurrir y no es necesario usar una mediana.

In [91]:
games_df['genre'] = games_df['genre'].fillna('unknown')

- La columna genre solo tienen dos valores ausentes, estos fueron remplazados por unknown ya que no podemos obtener mas informacion al respecto.

- Las columnas na_sales, eu_sales, jp_sales y other_sales no tiene nigun problema.

In [92]:
games_df['critic_score'] = games_df['critic_score'].fillna(games_df['critic_score'].mean())
np.array_equal(games_df['critic_score'], games_df['critic_score'].astype(int))
games_df['critic_score'] = games_df['critic_score'].astype(int)

- Rellene los valores ausentes con mean ya que me parece que es el score que mas probabilidad tiene de ser dado.
- Comprobe que todos los valores de la columna fueran enteros para despues concluir que no se perdia ninguna infimacion si convertia la columna a int.

In [93]:
games_df['user_score'] = games_df['user_score'].fillna(0)
games_df['user_score'] = games_df['user_score'].replace('tbd', 0)
games_df['user_score'] = games_df['user_score'].astype(float)
games_df['user_score'] = games_df['user_score'].fillna(games_df['user_score'].mean())

- La columna user_score debe ser un float debido a que sus valores son decimales y puede que en algun momento querramos trabajar con ello como un numero y no como un object(su tipo original)
- He decidido remplazar los valores ausentes y los 'tbd' por un 0, ya que coinsidero que es lo unico que se puede hacer para que estos valores no interfieran en el analisis, esto seguira asi al menos hasta que se determine cual es el score verdadero.

In [94]:
games_df['rating'] = games_df['rating'].fillna('unknown')

- El unico problema de esta columna son los valores ausentes, y coinsidero que la unica forma de solucionarlo es poner otro str que represente que el valor es desconocido.